{% extends 'base.html.twig' %}    

{% block body %}
    <h1>Produto edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p align="right"><input type="submit" value="Salvar a Nova Edição" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <p align="right"><input type="submit" value="Deletar">
            {{ form_end(delete_form) }} 
        </li>
        <li>
            <p align="left"><a href="{{ path('produtos_index') }}">Voltar a Lista</a>
        </li>
    </ul>
{% endblock %}
